- shell:
    cmd: |
        set -e
        set -x
        GATE_STACK_USER={{ ansible_user }}
        IS_GATE=True

        BASE_DIR={{ base_dir }}
        GATE_DEST={{ gate_dest_dir }}
        PROJECT_NAME={{ project_name }}
        NEUTRON_PATH={{ neutron_dir }}
        NEUTRON_VPNAAS_PATH={{ neutron_vpnaas_dir }}
        DEVSTACK_PATH={{ devstack_dir }}
        VENV={{ tests_venv }}

        source $DEVSTACK_PATH/functions
        source $DEVSTACK_PATH/lib/neutron_plugins/ovs_source
        source $NEUTRON_VPNAAS_PATH/tools/configure_for_vpn_func_testing.sh

        configure_host_for_vpn_func_testing
    executable: /bin/bash
