AUTHORS
build/*
build-stamp
ChangeLog
cover/
covhtml/
dist/
doc/build
doc/source/_static/config_samples/*.sample
doc/source/_static/*.policy.yaml.sample
etc/*.sample
*.DS_Store
*.pyc
neutron.egg-info/
neutron_vpnaas.egg-info/
neutron/vcsversion.py
neutron/versioninfo
pbr*.egg/
run_tests.err.log
run_tests.log
setuptools*.egg/
subunit.log
*.mo
*.sw?
*~
/.*
!/.coveragerc
!/.gitignore
!/.gitreview
!/.mailmap
!/.pylintrc
!/.stestr.conf

# Files created by releasenotes build
releasenotes/build
